<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AfriBelle</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/shop-homepage.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">

     <!-- Bootflat!! -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="stylesheets/addtohomescreen.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> 
        #C91F37 #f62e46
    <![endif]-->

<base href="/">
<style>


@font-face {
    font-family:bernado;
    src: url(fonts/bernadomodabold.ttf);
}


@font-face {

  font-family:trench;
  src: url(fonts/trench.ttf);
}


@font-face {

  font-family:dalmais;
  src: url(fonts/dalmais.otf);
}


h3,h1,h2 {
  font-family:trench;
}

.grad {

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff1844, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff1844, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff1844, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff1844, yellow); /* Standard syntax */
}
.grad2 {

  background: pink; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff1844, purple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff1844, purple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff1844, purple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff1844, purple); /* Standard syntax */
}

.shopBanner {
  font-family:sans-serif;
}


.frontLinks
{
    text-decoration:;
    color:white;
    font-size:20px;
    font-family: ;

}

.frontLinks:hover{
    color:white;
    text-decoration: ;
    background-color:#f62e46;

}

.siteTheme {

 background-color:#ff1844;
 color:white;
}

.pinkButton{
    background-color:#ff1844;
    color:white;
}

.jaime{
    border-radius:100px;
    background-color:black;
}

.ajouterPanier{
    border-radius:;
    background-color:black;
}

a{
    text-decoration:none;
    color:black;
}

a:hover {
    color:black;
}

.getBlack {
    color:black;
}




.roundBlocks{

border-right: 5px solid #000;
border-left: 5px solid #000;
border-top: 5px solid #000;
border-bottom: 5px solid #000;
border-radius:100px;
}

.roundblock :hover{
  background-color:#f62e46;
}

.myP {
  font-size:25px;
}

.div {
    width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.div > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

</style>
</head>

<body class="" ng-app="AfriBelle" ng-controller="AcceuilleController"
 >

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="background-color:black " > 
        <div class="container">
            
            <a class="navbar-brand" href="/" 
            style="font-family:trench;font-size:4.8vw;color:white;background-color:;margin-top:px;" >
                AfriBelle
            </a>
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
               
                             
             
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                  </button>

                  <button ng-show="isAuthen"  class="navbar-toggle" data-toggle="collapse">
                        <a href="/profile"><span class="glyphicon glyphicon-user" style="color:white;font-size:17px"></a>
                    </button>


                  <button ng-hide="isAuthen"   class="navbar-toggle" data-toggle="collapse">
                        <a href="/authen"><span class="glyphicon glyphicon-user" style="color:white;font-size:17px"></a>
                    </button>

                  <a href="/panier">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" >
                     <span style="font-size:17px;color:white" class="glyphicon glyphicon-shopping-cart"></span>
                    <sup style="color:white">{{panier.length}}</sup>
                  </button>
                  </a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="getBlack">
                       <a  href="/">Acceuil</a>
                    </li>
                   
                  
                    
                     <li ng-hide="isAuthen">
                       <a  href="/authen">S'inscrire /Se connecter</a>
                    </li>
                    <li ng-show="isAuthen">
                        <a ng-click="logout()">Se déconnecter</a>
                    </li>
                    <li ng-show="isAuthen">
                        <a style="font-size:20px">Bienvenue {{user.local.username}} {{user.facebook.name}}</a> 

                    </li>

                     <li ng-show="isAuthen">
                        <a href="/profile"><span class="glyphicon glyphicon-user" style="color:white;font-size:17px"> Profile</a>
                    </li>

                     <li class="">
                                <a href="/panier" class="frontLinks" style="background-color:;color:white">
                                  <span style="font-size:17px" class="glyphicon glyphicon-shopping-cart"></span>
                                  <sup class="">{{panier.length}}</sup>
                                </a>
                              </li>

                </ul>
            </div>
            
        
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   
   </br>
   <div class="container">
        <nav class="navbar navbar-inverse" 
        style="background-color:white;border:none;color:black;">
          
          <div class="container">
                
                <div class="navbar-header">
                      
                    <center style="margin-left:30px">
                       
                        <div type="button" class="navbar-toggle btn btn-block btn-default grad2" data-toggle="collapse" data-target="#myNav" style="background-color:white;border:;color:black;font-family" ng-click="navBarToggle()">
                          <h3>
                          Découvre ici !
                           </h3>

                        </div>

                      

                           <!--- Collapsed navbar -->
                          <div data-toggle="collapse" ng-hide="navBarHide" class=" navbar-toggle btn btn-block row" style="background-color:white;border:none;margin-left:30px" id="myNav" >
                        
                               <button class="btn btn-default col-xs-6"  style="background-color:#ff1844;color:white;border:none">
                                
                                <a href="/" class="frontLinks" >Acceuil</a>
                              </button>
                             
                             <button class="btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                
                                <a href="/boutiques" class="frontLinks" > Boutiques</a>
                              </button>
                             
                             <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                <a href="soinsducorps" class="frontLinks" >Corps</a>
                             </button>

                              <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                 <a href="soinsdescheuveux" class="frontLinks" >Cheveux</a>
                              </button>

                              <button class="frontLinks btn btn-default col-xs-6" style="color:white;background-color:#ff1844;border:none">
                                <a href="visageetmaquillage" class="frontLinks" >Visage
                                </a>
                              </button>

                              <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                <a href="parfums" class="frontLinks" >Parfums</a>
                              </button>

                              <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                               <a href="accessoires" class="frontLinks" >Accéssoires</a>
                              </button>

                              <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                <a href="/panier" class="frontLinks" >
                                  <span style="font-size:17px" class="glyphicon glyphicon-shopping-cart"></span>
                                  <sup class="">{{panier.length}}</sup>
                                </a>
                              </button>
                                </center>
                       
                    </div>



                    <!--- Actual navbar -->
                    <div class="collapse navbar-collapse"  style="background-color:#ff1844" id="myNavbar">
                         <ol class="nav navbar-nav"   style="background-color:white;">
                             
                             <li class="frontLinks">
                                <a href="/boutiques" class="frontLinks" style="background-color:#ff1844;color:black"> <strong>Les boutiques</strong></a>
                             </li>
                             <li class="frontLinks">
                                <a href="soinsducorps" class="frontLinks" style="background-color:#ff1844;color:black"><strong>Soins du corps</strong></a>
                             </li>
                              <li class="frontLinks">
                                 <a href="soinsdescheuveux" class="frontLinks" style="background-color:#ff1844;color:black"><strong>Soins des Cheveux</strong></a>
                              </li>
                              <li class="frontLinks">
                                <a href="visageetmaquillage" class="frontLinks" style="color:black;background-color:#ff1844;"><strong>Visage et Maquillage</strong>
                                </a>
                              </li>
                              <li class="frontLinks">
                                <a href="parfums" class="frontLinks" style="background-color:#ff1844;color:black"><strong>Parfums</strong></a>
                              </li>
                              <li class="frontLinks">
                               <a href="accessoires" class="frontLinks" style="background-color:#ff1844;color:black"><strong>Accéssoires</strong></a>
                              </li>
                              <li class="frontLinks">
                                <a href="/panier" class="frontLinks" style="background-color:#ff1844;color:black">
                                 <strong> <span style="font-size:17px" class="glyphicon glyphicon-shopping-cart"></span></strong>
                                  <sup class="">{{panier.length}}</sup>
                                </a>
                              </li>
                        </ol>

                    </div>
          </div>
        </nav>
        

        <!-- Page content -->
        <div ng-view> </div>

    </div>



    

    <!-- /.container -->
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer style="background-color:black">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <a href="http://afribelle-promo.herokuapp.com" style="color:white">A propos</a>
                
                    <p style="color:white">  Copyright &copy; AfriBelle 2016</br>Tout droits réservés</p>
                </div>

                      
            </div>
        </footer>

    </div>
    <!-- /.container -->
 


    <!-- jQuery and bootflat-->
    <script src="javascripts/jquery.js"></script>
    <script src="bootflat/js/icheck.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/js/jquery.fs.selecter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/js/jquery.fs.stepper.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script  src="javascripts/angular.min.js"></script>
<script  src="javascripts/angular-ui-router.min.js"></script>
<script src="javascripts/angular-route.min.js"></script>
<script  src="javascripts/bootstrap.js"></script>

<script  src="javascripts/modules/AfriBelle.js"></script>
<script  src="javascripts/controllers/AcceuilleController.js"></script>
<script  src="javascripts/controllers/panier.js"></script>
<script  src="javascripts/controllers/boutiques.js"></script>
<script  src="javascripts/controllers/boutiquePage.js"></script>
<script  src="javascripts/controllers/LogSign.js"></script>


<script  src="javascripts/controllers/vitrine.js"></script>
<script  src="javascripts/controllers/boutiques.js"></script>
<script  src="javascripts/controllers/produit.js"></script>
<script  src="javascripts/controllers/profile.js"></script>

<script  src="javascripts/controllers/userInfo.js"></script>
<script  src="javascripts/controllers/userCommandes.js"></script>
<script  src="javascripts/controllers/myBoutique.js"></script>
<script  src="javascripts/controllers/sellerVentes.js"></script>


<script  src="javascripts/services/authen.js"></script>
<script  src="javascripts/services/userModifs.js"></script>
<script  src="javascripts/services/sellerFunctions.js"></script>
<script  src="javascripts/services/customerToProduct.js"></script>
<script  src="javascripts/services/panierAndCheckout.js"></script>

<script src="javascripts/ospry.js"></script>
<script ></script>

<script src='javascripts/cloudinary/jquery.ui.widget.js' type='text/javascript'></script>
<script src='javascripts/cloudinary/jquery.iframe-transport.js' type='text/javascript'>
</script>
<script src='javascripts/cloudinary/jquery.fileupload.js' type='text/javascript'></script>
<script src='javascripts/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>

<script src="javascripts/addtohomescreen.min.js"></script>
<script src="http://hammerjs.github.io/dist/hammer-time.min.js"></script>
<script>
addToHomescreen();
//http://hammerjs.github.io/dist/hammer-time.min.js


</script>


</body>

</html>
