<div class="container" >
        <div>
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" 
          data-target="#pinkNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
        </div>
        <div class="row"> 

            <div id="#pinkNav" class="col-md-12" class="nav collapse navbar-collapse"> 
                <ol class="nav navbar-nav" style="background-color:#f62e46;width:100%">
                    <li>
                        <a href="/boutiques" class="frontLinks"> Les boutiques</a>
                    </li>
                    <li>
                        <a href="soinsducorps" class="frontLinks">Soins du corps</a>
                    </li>
                    <li>
                        <a href="soinsdescheuveux" class="frontLinks">Soins des Cheuveux</a>
                    </li>
                    <li><a href="visageetmaquillage" class="frontLinks">Visage et           Maquillage</a>
                    </li>
                    <li><a href="parfums" class="frontLinks">Parfums</a>
                    </li>
                    
                    <li>
                         <a href="/panier" class="frontLinks">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Panier
                            <sup class="">{{panier.length}}</sup>
                        </a>
                    </li>
                </ol>
            </div></br>


            
            <div class="col-md-12" ng-view></div>

            
        
        </div>
            
    </div>