<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AfriBelle</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/shop-homepage.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/simple-sidebar.css" rel="stylesheet">

     <!-- Bootflat!! -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="stylesheets/addtohomescreen.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> 
        #C91F37 #f62e46
    <![endif]-->

<base href="/">
<style>


@font-face {
    font-family:bernado;
    src: url(fonts/bernadomodabold.ttf);
}


@font-face {

  font-family:trench;
  src: url(fonts/trench.ttf);
}


@font-face {

  font-family:dalmais;
  src: url(fonts/dalmais.otf);
}


h3,h1,h2 {
  font-family:trench;
  color:black;
}

.grad {

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff1844, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff1844, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff1844, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff1844, yellow); /* Standard syntax */
}
.grad2 {

  background: pink; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ff1844, purple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff1844, purple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff1844, purple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff1844, purple); /* Standard syntax */
}

.shopBanner {
  font-family:sans-serif;
}


.frontLinks
{
    text-decoration:;
    color:white;
    font-size:20px;
    font-family: ;

}

.frontLinks:hover{
    color:white;
    text-decoration: ;
    background-color:#f62e46;

}

.siteTheme {

 background-color:#ff1844;
 color:white;
}

.pinkButton{
    background-color:#ff1844;
    color:white;
}

.jaime{
    border-radius:100px;
    background-color:black;
}

.ajouterPanier{
    border-radius:;
    background-color:black;
}

a{
    text-decoration:none;
    color:black;
}

a:hover {
    color:black;
}

.getBlack {
    color:black;
}

.roundBlocks{

border-right: 5px solid #000;
border-left: 5px solid #000;
border-top: 5px solid #000;
border-bottom: 5px solid #000;
border-radius:100px;
}

.roundblock :hover{
  background-color:#f62e46;
}

.myP {
  font-size:25px;
}

.div {
    width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.div > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

.ulY {
    list-style-type: none;
    margin: 0;
    margin-left:-8%;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    background-color:black;
}

.mine li{
  height:50px;
  margin-left:-20%;
  margin-top:5%;


}

.mine ul{
  
  margin-top:5%;


}

.mine h2{
  color:white;
  font-family: trench;
 margin-top:;
 font-weight: 200;

}


.mine a{
  margin-top:5%;

}
.mine{
  list-style-type: none;
}

.mine :hover {
  opacity:0.7;
  color:black;
}

.itemHover :hover{
  opacity:0.7;

}

</style>


   
</head>

<body ng-app="AfriBelle" ng-controller="AcceuilleController"
 >


 <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" style="background-color:white" > 
        <div class="container">
            
            <a class="navbar-brand" href="/" 
            style="font-family:trench;font-size:4.8vw;color:black;background-color:;margin-top:px;" >
                AfriBelle
            </a>
            
            <!-- Brand and toggle get grouped for better mobile display
            This is the toggle stuff 1)Get toggle 2)Do real 3)Link them -->
            <div class="navbar-header">
                
              
             
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                    <span class="icon-bar" style="background-color:#ff1844"></span>
                  </button>



                  <button ng-show="isAuthen"  class="navbar-toggle" data-toggle="collapse">
                        <a href="/profile"><span class="glyphicon glyphicon-user" style="color:white;font-size:17px"></a>
                    </button>


                  <button ng-hide="isAuthen"   class="navbar-toggle" data-toggle="collapse">
                        <a href="/authen"><span class="glyphicon glyphicon-user" style="color:white;font-size:17px"></a>
                    </button>

                  <a href="/panier">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" >
                     <span style="font-size:17px;color:white" class="glyphicon glyphicon-shopping-cart"></span>
                    <sup style="color:white">{{panier.length}}</sup>
                  </button>
                  </a>
                
            </div>





            <!-- Collect these nav links, forms, and other content for toggling (Real)-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav" >
                


                    <li class="getBlack">
                       <a  href="/" style="color:black">Acceuil</a>
                    </li>
                   
                  <li class="getBlack">
                       <a  href="/aide" style="color:black">Aide</a>
                    </li>
                   
                  
                    
                    
                     <li ng-hide="isAuthen">
                       <a  href="/authen" style="color:black">S'inscrire /Se connecter</a>
                    </li>
                    <li ng-show="isAuthen">
                        <a ng-click="logout()" style="color:black">Se déconnecter</a>
                    </li>
                    <li ng-show="isAuthen">
                        <a style="font-size:20px" style="color:black">Bienvenue {{user.local.username}} {{user.facebook.name}}</a> 

                    </li>

                     <li ng-show="isAuthen">
                        <a href="/profile" style="color:black"><span class="glyphicon glyphicon-user" style="font-size:17px"> Profile</a>
                    </li>

                     <li class="">
                                <a href="/panier" class="frontLinks" style="background-color:;color:black">
                                  <span style="font-size:17px" class="glyphicon glyphicon-shopping-cart"></span>
                                  <sup class="">{{panier.length}}</sup>
                                </a>
                              </li>

                </ul>
            </div>
            
        
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

 


   <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" style="margin-top:-2%;overflow:">
              <nav id="colorNav">  
                <ul class="mine" style="background-color:white;overflow:hidden;color:white" >


              

                    <li class="" style="background-color:black">
                        <h2 >
                          <a href="/boutiques" >
                        
                          <center style="color:white"> Boutiques </br> </center>

                        </a></h2>
                    </li>
                    <li style="background-color:#ff1844;color:black">
                        <h2 style="color:black">
                          <a href="/soinsducorps" >
                       
                            <center>
                            Corps
                        </br> 

                        </center></a></h2>
                    </li>
                    <li style="background-color:#F87117">
                        <h2 >
                          <a href="/soinsdescheuveux" style="background-color:">
                           
                            <center style="">Cheveux </br>               
                          </center>  
                          </a>

                        </h2>
                    </li>
                    <li style="background-color:#ADC607">
                        <h2 style="color:">
                          <a href="/visageetmaquillage" style="background-color:">
                            
                            <center>Maquillage </center>
                          </a></h2>
                    </li>  
                    <li style="background-color:#757D75">
                        <h2 style="color:black">
                          <a href="/parfums" style="background-color:">
                       
                            <center>
                            Parfums </center></a></h2>
                    </li>
                     <li style="background-color:#ED4938">
                        <h2 style="color:black">

                          <a href="/accessoires" style="background-color:">

                            <center>Accéssoires
                          </center></a></h2>
                    </li>
                    <li style="background-color:white">
                        <h2 >

                          <a href="/panier" style="background-color:">

                            <center style="color:black">Panier
                           <span class="glyphicon glyphicon-shopping-cart" style="30vw" >
                          </center></a></h2>
                    </li>

                </ul>
              </nav> 
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">

                  <!-- Phone nav -->
                  <nav  class="navbar navbar-inverse" 
                        style="background-color:white;border:none;color:black;">
              
                      <div class="container">
                    
                          <div class="navbar-header">
                                
                              <center style="margin-left:30px">
                                 
                                  <div type="button" class="navbar-toggle btn btn-block btn-default grad2" data-toggle="collapse" 
                                  data-target="#phoneBar" style="background-color:white;border:;color:black;font-family" ng-click="navBarToggle()">
                                    <h3>
                                    Catégories !
                                    </h3>

                                  </div>

                                

                                     <!--- Collapsed navbar -->
                                    <div  data-toggle="collapse" ng-hide="navBarHide" class=" navbar-toggle btn btn-block row" style="background-color:white;border:none;margin-left:30px" id="#phoneBar" >
                                  
                                         <button class="btn btn-default col-xs-6"  style="background-color:#ff1844;color:white;border:none" >
                                          
                                          <a href="/" class="frontLinks" ng-click="navBarToggle()">Acceuil</a>
                                        </button>
                                       
                                       <button class="btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                          
                                          <a href="/boutiques" class="frontLinks" ng-click="navBarToggle()"> Boutiques</a>
                                        </button>
                                       
                                       <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                          <a href="soinsducorps" class="frontLinks" ng-click="navBarToggle()">Corps</a>
                                       </button>

                                        <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                           <a href="soinsdescheuveux" class="frontLinks" ng-click="navBarToggle()">Cheveux</a>
                                        </button>

                                        <button class="frontLinks btn btn-default col-xs-6" style="color:white;background-color:#ff1844;border:none">
                                          <a href="visageetmaquillage" class="frontLinks" ng-click="navBarToggle()">Visage
                                          </a>
                                        </button>

                                        <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                          <a href="parfums" class="frontLinks" ng-click="navBarToggle()">Parfums</a>
                                        </button>

                                        <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                         <a href="accessoires" class="frontLinks" ng-click="navBarToggle()">Accéssoires</a>
                                        </button>

                                        <button class="frontLinks btn btn-default col-xs-6" style="background-color:#ff1844;color:white;border:none">
                                          <a href="/panier" class="frontLinks" ng-click="navBarToggle()">
                                            <span style="font-size:17px" class="glyphicon glyphicon-shopping-cart"></span>
                                            <sup class="">{{panier.length}}</sup>
                                          </a>
                                        </button>
                                          </center>
                                 
                              </div>



                    

                        
                        </div>
                   </div>
            </nav>
                  <!-- Close nav -->
                   <!-- Actual page -->
             <div class="row" style="margin-top:-10%;margin-left:-3%">

                     <div class="col-lg-12"> 
                         
                          <div ng-view> </div></br> 
                          
                               
                      </div>
                </div>

            </div>

         </div>
            <!-- /#page-content-wrapper -->
   </div>















    <!-- /.container -->
      <!-- Footer Space-->
    <nav class="container" style="width:100%;position:" ng-hide="true">

      
            </br></br></br></br>   </br></br></br></br>   </br></br></br></br>   </br></br></br></br>   </br></br></br></br> 
        <!-- Footer -->
        <footer style="background-color:black;" class="navbar-collapse">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <center>
                    <a href="http://afribelle-promo.herokuapp.com" style="color:white">A propos</a>
                
                    <p style="color:white">  Copyright &copy; AfriBelle 2016</br>Tout droits réservés</p>
                    </center>
                </div>

                      
            </div>
        </footer>

    </nav>
    <!-- /.container -->




    <!-- jQuery and bootflat-->
    <script src="javascripts/jquery.js"></script>
    <script src="bootflat/js/icheck.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/js/jquery.fs.selecter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/js/jquery.fs.stepper.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script  src="javascripts/angular.min.js"></script>
<script  src="javascripts/angular-ui-router.min.js"></script>
<script src="javascripts/angular-route.min.js"></script>
<script  src="javascripts/bootstrap.js"></script>

<script  src="javascripts/modules/AfriBelle.js"></script>
<script  src="javascripts/controllers/AcceuilleController.js"></script>
<script  src="javascripts/controllers/panier.js"></script>
<script  src="javascripts/controllers/boutiques.js"></script>
<script  src="javascripts/controllers/boutiquePage.js"></script>
<script  src="javascripts/controllers/LogSign.js"></script>


<script  src="javascripts/controllers/vitrine.js"></script>
<script  src="javascripts/controllers/boutiques.js"></script>
<script  src="javascripts/controllers/produit.js"></script>
<script  src="javascripts/controllers/profile.js"></script>

<script  src="javascripts/controllers/userInfo.js"></script>
<script  src="javascripts/controllers/userCommandes.js"></script>
<script  src="javascripts/controllers/myBoutique.js"></script>
<script  src="javascripts/controllers/sellerVentes.js"></script>
<script  src="javascripts/controllers/adminPage.js"></script>
<script  src="javascripts/controllers/aide.js"></script>

<script  src="javascripts/services/authen.js"></script>
<script  src="javascripts/services/userModifs.js"></script>
<script  src="javascripts/services/sellerFunctions.js"></script>
<script  src="javascripts/services/adminFunctions.js"></script>
<script  src="javascripts/services/customerToProduct.js"></script>
<script  src="javascripts/services/panierAndCheckout.js"></script>


<script src="javascripts/ospry.js"></script>


<script src='javascripts/cloudinary/jquery.ui.widget.js' type='text/javascript'></script>
<script src='javascripts/cloudinary/jquery.iframe-transport.js' type='text/javascript'>
</script>
<script src='javascripts/cloudinary/jquery.fileupload.js' type='text/javascript'></script>
<script src='javascripts/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>

<script src="javascripts/addtohomescreen.min.js"></script>
<script src="http://hammerjs.github.io/dist/hammer-time.min.js"></script>
<script>
addToHomescreen();
//http://hammerjs.github.io/dist/hammer-time.min.js



</script>
 <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        //#ADC607#ED4938#F87117#757D75
        </script>

</body>

</html>
