<!Doctype>
<html>
<head>
<title>Bintou</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>

<base href="/">
</head>

<body ng-app="Bintou" ng-controller="AcceuilleController" style="background-image:url('images/.jpg');background-size:79%">

<nav class="navbar navbar-inverse" role="navigation">
<h1 style="color:white">Bintou</h1>
<a ng-click="authen()"><button class="btn btn-default btn-lg" >S'inscrire ou se connecter</button></a>

</nav>



<div class="well" style="width:500px;height:500px;background-image:url('images/b1.jpg');background-size:100%" ></div>

<script  src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-route.min.js"></script>
<script  src="javascripts/modules/Bintou.js"></script>
<script  src="javascripts/controllers/LogSign.js"></script>
<script  src="javascripts/controllers/AcceuilleController.js"></script>

</body>


</html>