
<!Doctype>
<html>

	<head>
		<title>Bintou - Profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, 
		user-scalable=no" charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
		<base href="/">
	</head>

	<body style="background-color:" ng-app="Bintou" ng-controller="Opened">
		
			<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	               
	                
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	                <ul class="nav navbar-nav">
	                    <li>
	                       <a  href="/">Acceuille</a>
	                    </li>
	                    <li>
	                       <a  ng-click="logout()">Se deconnecter</a>
	                    </li>
	                    <li>
	                        <a href="#">About</a>
	                    </li>
	                    <li>
	                        <a href="#">Services</a>
	                    </li>
	                    <li>
	                        <a href="#">Contact</a>
	                    </li>
	                    <li>
	                        <a ng-click="goProfile()">Profile</a>
	                    </li>
	                    <li>
	                        <a href="/panier">Panier({{panier.length}})</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>	
		
		<div class="container">

			<div class="jumbotron" style="margin-top:0px">
				<h1 style="text-align:center">Bienvenue {{user.local.email}} {{hi}}
		    	</h1>

			</div>


			<div class="btn-group btn-group-justified" style="margin-top:-25px">

				<div class="btn-group">
					<a href="/sellerProduits"><button class="btn btn-default">Mes produits</button>
					</a>
				</div>

				<div class="btn-group">
					<button class="btn btn-default">Mes ventes</button>
				</div>

				<div class="btn-group">
					<button class="btn btn-default">Messages et commentaires</button>
				</div>

				<div class="btn-group">
					<a href="/userInfo"><button class="btn btn-default">Mes Infos</button></a>
				</div>
			</div>

			<div class="well" style="margin-top:5px"ng-view>
				</br></br></br></br></br></br></br></br></br></br>
			</div>




		</div>

		<script  src="javascripts/angular.min.js"></script>
		<script src="javascripts/angular-route.min.js"></script>
		<script  src="javascripts/modules/Bintou.js"></script>
		<script  src="javascripts/controllers/Opened.js"></script>
		<script  src="javascripts/controllers/sellerProduits.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>

	</body>
</html>