<div class="container">
	<div ng-show="false" class="container" style="margin:5px">
		<center>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" >
				<ol class="carousel-indicators">
			      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
			      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
			    </ol>
				<div class="carousel-inner" >
					<div class="item active">
						<img src="images/vitrinePage/bienvenue.jpg" alt="carousel's Place" width="50%"  class="img-responsive">
					</div>
					

				</div>
				

				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left"></span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		    </a>
			</div>
		</center>

	</div>

	<center>
	<div class="row " style="width:100%;height:160%">
		
		<div class="col-lg-12 col-xs-12 jumbotron" style="background-image:url('images/models/cute2.jpg');background-repeat:no-repeat;background-position:center;background-size:40%;height:40vw">

		
					<h1 style="font-size:10vw;color:black;">
						<center style="margin-top:25%">Bienvenue sur AfriBelle!</center>
					</h1>
				</br></br>
		</div>
	</div>
</center>

</div>


