<div class="container">
	<H2>Besoin d'aide?</H2></br>
	<h3 ng-click="commanderF()" style="color:#ff1844">Comment commander sur AfriBelle
		<span ng-show="commander"> (Fermer)
		</span>
	</h3>

	<h3 ng-click="livrPF()" style="color:#ff1844"> Livraison et Paiement
		<span ng-show="livrP"> (Fermer)
		</span>
	</h3>

	<div ng-show="livrP" class="well">
		<h4>
		Après avoir confirmé votre commande, rentrez dans votre Profile et ensuite Mes Achats pour voir votre reçu. </br>La boutique ou les différentes boutiques dans lesquelles vous avez passé commande vous contacterons </br>pour plannifier la livraison, où vous pourrez payer cash.</br>
		Si vous avez besoin de plus d'informations, contactez nous ici: afribelleci@gmail.com.
		</h4>
	</div>
	

	<div ng-show="commander" class="well">
		<strong>Sur AfriBelle vous pouvez commander des articles de plusieurs boutiques d'Abidjan et payer à la livraison.</strong>

			<h3>1. Ajoutez des articles à votre panier en cliquant sur cette icone: 
				<span class="glyphicon glyphicon-shopping-cart"></span>+
			</h3></br>

			<h3>
				2. Inscrivez / connectez vous en cliquant sur la barre ci dessus.
			</h3></br>
			

			<h3>
				3. Accédez à votre profile et mettez à jour vos informations personnelles en cliquant sur Mes Infos
				(Nom Complet et Numéro de Télephone):</br> </br> 
				<center> 
				<img src="images/icons/barre.png" style="border:black" width="30%"/>
				</br> 
				<img src="images/icons/mesInfos.png" style="border:black" width="35%"/>
				</br>  </br>  
				<img src="images/icons/infos2.png" style="border:black" width="35%"/>
				</center> 
				

			</h3></br>

			<h3>4. Retournez dans votre panier et pour chaque article</br>
				<center> A. Entrez une quantité</center>
				<center> B. Si l'article est disponible en plusieurs couleurs</br>
					cliquez sur une couleur pour la commander/ décommander.</center> </br>
				<center> C. Sélectionnez votre type de livraison en fonction de l'endroit 
				</br>où vos articles vous seront livrés.</center> </br>
			</h3></br>

			<h3>5. Confirmez votre commande! :)
			</h3></br>

	</div>

</div>


