</br>

<center>

<div class="container well" class="row">
	<div class="col-sm-6">
		<h3><span class="glyphicon glyphicon-log-in"></span> S'inscire/Se connecter</h3></br>
		

		<a ng-hide="" href="/signup"><button class="btn btn-default btn-block btn-lg" >
		<span class="glyphicon glyphicon-log-in"></span> S'inscrire</button>
		</a>
		<a ng-hide="" href="/login"><button class="btn btn-default btn-block btn-lg" >
		<span class="glyphicon glyphicon-user"></span> Se connecter</button>
	    </a>
		
		
		<button ng-hide="false" class="btn btn-primary btn-block btn-lg" ng-click="facebookAuthen()"> 
			<span class="glyphicon glyphicon-user"></span> 
			S'inscrire ou se connecter avec Facebook
		</button>
	</div>
</div>
</center>
