
  <center> <h2> {{loadingScreen}} </h2>  </center> 

<div ng-hide="isLoading" class="container" style="margin:5px">
  
  <div class="row" ng-repeat="boutique in boutique" style="background-color:"> 
  	<h3> <a ng-href="/boutiques">
           <span class="glyphicon glyphicon-arrow-left"></span> Retour
        </a>
    </h3>    
                <h3> <strong>Boutique:</strong> </h3> 
                <center>
                <h1 class="shopBanner"><a ng-href="/boutique/{{boutique._id}}" style="color:black">{{boutique.nom}}</a>
                </h1>
                </center>
                      
  	            
  </div> </br>



<strong> <h3>Politique de livraison: </h3></br>
Livraison grauite pour {{boutique[0].livraison.gratuite}}</br>
Payante à {{boutique[0].livraison.payantePrix}} FCFA pour {{boutique[0].livraison.payanteLieux}}
</strong>

  <div>
   <h3>   Disponible dans cette boutique: </h3>
  </div>

  <div class="row" style="background-image:url('images/.png');background-size:100%;">        
      
      <div ng-repeat="produit in produits track by $index" class="col-md-4 col-xs-12 itemHover" >

                       
                       
                       <div class="well"> 
                          <center>
                          <a ng-href="/produit/{{produit._id}}" style="text-decoration:none;color:black">
                              <h3 >
                                  {{produit.nom}}
                              </h3>
                                <sub><strong>{{produit.prix}} FCFA </strong></sub></br>
                      
                              </br>
                              <img ng-src="{{produit.mainImageUrl}}" alt="Image de l'article en charge. Si ce message persiste, veuillez rafraichir la page ou vérifier que votre connection à internet fonctionne correctement." width="50%"  /></br>

                           </a> </br>

                           <strong>Teintes/Couleurs disponibles: </strong>
                                    <ul style="list-style-type:none;" class="row">

                                         <div class="col-xs-2" 
                                        ng-repeat="color in produit.colorCodes track by $index">
                                        
                                            <li  
                                            ng-style=
                                            "{'background-color':produit.colorCodes[$index],
                                            'border-radius':'100px', 'width':'30px', 'height':'30px'}" 
                                            ng-click="removeColor($index)">
                                                <h3>
                                                    <center style="margin-top:10px;color:black">{{$index + 1}} 
                                                    </center>
                                                </h3>
                                            </li>
                                        </div>
                                    </ul>

                       
                          
                           <strong>Déscription: </strong>
                              <p style='overflow-y:scroll'>{{produit.details}}</p> </br>
                               <strong> Quantité Disponible: </strong> {{produit.quantiteDisponible}}</br>


                           <strong>Livraison:</strong></br>

                              Gratuite pour : {{produit.livraison.gratuite}}</br>
                              Payante à {{produit.livraison.payanteFixe.prix}} pour 
                              {{produit.livraison.payanteFixe.lieux}}</br>
                              *Pour tout autre endroit, le livreur vous contactera</br>


                           <button class="jaime btn" ng-click="newVote($index)" > 
                              <span class="glyphicon glyphicon-heart" style="color:#ff1844;30vw"></span>
                              {{produit.votes.length}}
                          </button>  

                          <button class="btn btn-md ajouterPanier" ng-click="ajouterAuPanier($index)" >
                          <span class="glyphicon glyphicon-shopping-cart" style="30vw">
                          </span>
                          +                         
                           </button> 

                          <center>
                       </div> 
           
            </br>  </br>  </br>     </br>  </br>  </br> 
      </div>
  </div>  

  <div class="row">
      <div class="col-lg-12">
          <span ng-show="isAuthen">            
              <label> Vous avez quelque chose à dire à propos de cette boutique? </label> 
              <textarea class="form-control" ng-model="newComment.body">
              </textarea> 
              </br> 

              <button class="btn pinkButton" ng-click="postComment()"> 
                  Donner mon avis
              </button> 
          </span>   </br> </br> 

          <button ng-click="showComments()" class="btn btn-default btn-lg">Voir les avis</button>
          <div ng-repeat="comment in comments track by $index" class="well" ng-show="showComments"> 
             
              Date: {{comment.date}}  </br> 
              <img ng-src='images/{{comment.profilePic}}' width="8%"/> 
              De: {{comment.auteur}}  </br> 
              {{comment.body}}        </br> 
          </div>              
      
      </div>
  </div>
</div>
                      
