<div class="container" style="margin:5px">

  <h3 style="font-family:trench">
  	<img src="images/shop2.png" width="5%"/> 
      Les Boutiques!
  </h3> 


   <div class="row"> 
      <div ng-repeat="boutique in boutiques" style="height:px;background-image:url('images/.jpg');background-size:90%;margin-left:px" class="col-md-4 col-xs-6 well" >
         
              <div>
                 
                 	 <div style="background-color:black">
                 	 	</br>
                 	  <center style="">
                 	  	<h3 class="shopBanner"><a ng-href="/boutique/{{boutique._id}}" style="color:white">{{boutique.nom}}</a>
                 	  	</h3>
                 	  </center></br>
   				         </div> 


              	
   				          <center><img src="images/{{boutique.themeUrl}}" width="100%" /></center>

              </div>
                
         
    </div>



    
           

             
         
    </div>

  </div>
</div>
