<div class="container" style="margin:5px">

  <h3 style="font-family:trench">
  	<img src="images/shop2.png" width="5%"/> 
      Les Boutiques!
  </h3> 
</div>

   <div class="row well"  > 
     
      <span ng-repeat="boutique in boutiques" style="margin-left:px" class="thumbnail col-md-4 col-xs-6 "  >
          <a ng-href="/boutique/{{boutique._id}}" 
                      style="color:white;">     
           
                   <div style="background-color:black;border-right:white;"  >
                            </br>
                            <center style="">
                              <h3 class="shopBanner">{{boutique.nom}}
                              </h3>
                            </center></br>
                           </div> 
                     
                      
           				         <img src="images/{{boutique.themeUrl}}" width="20%" 
                             style="margin-top:-5px"/>

          </a>        

            

    </span>


    
           

             
         
    </div>

  </div>

