

<div class="row container" >
	<div class="well col-md-12" >
		<h3> <a href="/authen"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a></h3>	
	    </br>
		<h1 style="text-align:center">Se connecter</h1>
		{{message}}
		<label>Nom d'utilisateur</label>
		<input type="text" class="form-control" ng-model="logg.username" name="username" /></br>
		<label>Mot de passe</label>
		<input type="password" class="form-control" ng-model="logg.password" name="password"/>
		</br>
		
		<button ng-click="login()" class="btn btn-danger btn-lg btn-block pinkButton"  >Se connecter
		</button>
	</div>

</div>