</br></br></br>

<div class="container">

	Retour au <a href="/profile">Profile</a> 
	</br>
							
	<div class="row">
		<h1 class="col-md-6">
			Ma Boutique: {{mesBoutiques[0].nom}}
			<input ng-show="showBoutiqueSection" type="text" class="form-control" placeholder="Cree ta nouvelle boutique!" ng-model="nomBoutique"></input> 
			

			<button ng-show="showBoutiqueSection" class="btn btn-sm pinkButton" ng-click="createBoutique()"> Créer la boutique </button> 
			<h3>{{boutiqueMsg}}</h3>
		</h1>
	</div>



	<!--- Bouton  -->
	<div class="row">
		
		<button class="btn btn-default btn-xl col-md-6" ng-click="toggleProduitSection()"> 
		<center><h1>+</h1></center>
		</br>
		<h3>Nouveau Produit </h3>
		</button>

	</div>
	
	<!--- Nouveau Produit -->
		<div  class="row col-md-24" ng-show="produitSection" ng-click="">
			<div class="col-lg-6 well">
			<h1>Ajouter un nouveau produit</h1>
			<h3 class="alert alert-warning">{{message}}</h3>

			<center><h3>Détails du produit</h3></center>

			<form>
				<label>Nom du produit
					<input type="text" placeholder="Nom" class="form-control" ng-model="nouveauProduit.nom" required/>
				</label>
				
				<label>Type
					<select class="form-control" ng-model="nouveauProduit.type" placeholder='Type' required>
					<option>Soins_du_corps</option>
					<option>Soins_des_cheuveux</option>
					<option>Visage_et_maquillage</option>
					<option>Parfum</option>
					</select>
				</label>

				<label>
					<input type="number" class="form-control" placeholder="prix" ng-model="nouveauProduit.prix"  required/>
				</label></br>

				<textarea type="text" placeholder="Déscription" class="form-control"ng-model="nouveauProduit.details" class="form-control" required/>
				</textarea>
				</br>
				

				<!--La livraison -->
				<center><h3>La livraison</h3></center>
				</br>
				<label>

				<label>Gratuite</label>
				<input ng-model="nouveauProduit.livraison.gratuite" type="text" placeholder="Les endroits ou vous allez livrer gratuitement- séparez les avec une virgule" class="form-control"></input></br>
				
				<label>Payante pour</label></br>
				Ces endroits:
				<input ng-model="nouveauProduit.livraison.payanteFixe.lieux" type="text" placeholder="Lieux ou la livraison est payante" class="form-control"></input></br>
				Prix:
				<input ng-model="nouveauProduit.livraison.payanteFixe.prix" type="number" placeholder="" class="form-control"></input></br>

				
				<h3>Une fois votre produit ajouté, cliquer sur modifier pour ajouter des photos.
				</h3>
				<button class="btn btn-info" type="submit" ng-click="ajouterProduit(nouveauProduit)" ng-disabled>Mettre en ligne
				</button> 
				
				</br>
				</br>
			</form>
	    	</div>
		</div>
		</br>


	 <!--- Produits  -->
	<div class="container">
		<h1>Mes produits déja en ligne ({{mesProduits.length}}) </h1>
		<div class="row">
			<div id="MesProduits" class="well col-sm-3" ng-repeat="produit in mesProduits"
			style="width:">
				
				<a ng-href="/produit/{{produit._id}}" style="text-decoration:none;color:black"><strong>
					{{produit.nom}}
				</strong>
				</a>
			</br> 
				

				Ajouté le: {{ date|| produit.date }}</br>
				<img ng-src="{{produit.mainImageUrl}}" width="50%"></br>
				<strong>Type: </strong> {{produit.type}}</br>
				<strong>Prix: </strong>{{produit.prix}} FCFA</br>
				<strong>Déscription: </strong>{{produit.description}}</br>
				<strong>Livraison:</strong></br>

				Gratuite pour : {{produit.livraison.gratuite}}</br>
				Payante à {{produit.livraison.payanteFixe.prix}} pour 
				{{produit.livraison.payanteFixe.lieux}}</br>
				*Pour tout autre endroit, vous contacterez le client</br>



				<button class="jaime btn"> 
                    <span class="glyphicon glyphicon-heart" style="30vw"></span>
                    {{produit.votes.length}}
                </button> </br>
                <button class="btn btn-default" ng-click="modifyProduit($index)"> Modifier </button> 
				<button class="btn btn-danger btn-sm" ng-click="effacerProduit($index)">Supprimer ce produit
				</button>

				 
				

			</div>
		</div>
	</div>
	</br>
                             <!--- Pour les modifs  -->

      <!--- Modifier le produit (sans images)-->
    <div class="row">
	    <div class="well col-lg-6" ng-show="modifSection">

			<center>
	    	<h2>Modifier</h2>
	    	<button class="btn btn-danger" 
			ng-click="hideModifSection()">
			Fermer</button></center>
			
			<h3>
			<strong>Nom:</strong>
			<input type="text" class="form-control" ng-model="modifying.nom"/>
			</h3>

			<h3>
			<strong>Type:</strong>
			<input type="text" class="form-control" ng-model="modifying.type"/>
			</h3>
			
			
			<h3>
			<strong>Prix</strong>
			<input type="number" class="form-control" ng-model="modifying.prix"/>
			</br>
			</h3>
			


			<h3>
			<strong>Déscription</strong>
			<textarea type="number" class="form-control" ng-model="modifying.description"></textarea></br>
			</h3>
			
			
			Livraison inclus dans ce prix:{{modifying.livraison}}</br>

			<button class="btn btn-danger btn-block" 
			ng-click="modifyProduitPost()">
			Enregistrer</button></br>
			

			 <!--- Les images mtn-->	
			 <h3 class="">
			 <center>
			 <span class="glyphicon glyphicon-camera"></span>
			 Les images</h3>
			</center>
			</br>

			 Voici les images de cet article </br></br>
			 La photo principale est: 
			 <img ng-src="{{modifying.mainImageUrl}}" width="20%"></br>
			  
			  <h3> Clique sur une image pour la mettre en photo principale</H3>
			 
			 <span ng-repeat="imgUrl in modifying.imageUrls">
				 <img ng-src="{{imgUrl}}" width="20%" 
				  ng-click="newMainImage($index)" />
				
				<button class="btn btn-xs btn-danger" ng-click="effacerImage($index)"> Effacer </button>
				</br></br>
			</span>

			


			
			 

			 <form id="ajouterImage">
	  			<input type="file"  /></br>
	  			<button type="submit" class="btn btn-info"
	  			 ng-click="ajouterImage()" ng-hide="imageDone">Ajouter! </button>
			</form>  
			{{imageMessage}}





	    
	    </div>
	</div>
 	

</div>