<div class="container" style="margin:5px">
	<h1 style="font-family:trench" class="h1">
		<span style="font-size:px" class="glyphicon glyphicon-shopping-cart"></span>
		Panier</H1>
	</br>


	</br>

	<div class="row"> 
		<div class="row">


			<div class="col-xs-12 col-md-3" >
				
				<center></br></br>
					<strong >1.Sélectionnez votre type de 
					livraison pour chaque article. Si l'article propose différentes couleurs faites également votre choix.
					</strong>
				</center>
			</div></br>

			<div class="col-xs-12 col-md-3" >
				<center><strong>2. Inscrivez/Connectez vous et mettez à jour vos informations personnelles en cliquant 
				<a href="/userInfo" style="color:red">ICI</a></br></strong>
				</center>
			</div></br>

			<div class="col-xs-12 col-md-3" >
				<center><strong>3. Confirmez votre commande! </br></strong></center>
			</div></br>
		</div>


	</br></br></br>
		<div class="well">
			<span >*Sur AfriBelle, vous pouvez commander des articles dans plusieurs boutiques en meme temps et payer à la livraison! Cépendant, chaque boutique vous livrera vos articles individuellement. Après avoir passé votre commande, vous obtiendrez un reçu et la boutique vous contactera pour la livraison.</span></br>
		</div></br>

		

		<h2><strong>{{message}}</strong></h2>

	
		</br>
		<div style="margin:5px" ng-hide="true">
			<strong><h3>Détails de la commande</h3></strong></br>
			<strong>Total des articles</strong>: {{panier.length}} </br>
			Total de la livraison: {{}}</br>
			Total de la commande: {{panierDetails.totalCommande}}
		</div>

		<h3><strong>Articles({{panier.length}})</strong></h3></br>
		<div ng-repeat="produit in panier" class="well col-sm-4 col-xs-6" >

			<a ng-href="/produit/{{produit._id}}" style="text-decoration:none;color:black">
				<center><h3>{{produit.nom}}</h3>
				</center></br>
			</a> 
	 
			
			<center><img ng-src="{{produit.imageUrls[0]}}" alt="Image de l'article en charge. Si ce message persiste, veuillez rafraichir la page ou vérifier que votre connection à internet fonctionne correctement." width="50%"></center></br>
			<strong>Vendu par (Boutique) :</strong> {{produit.boutique}}</br> 
			<strong>Quantité: </strong>
			<input type="number" class="form-control" ng-model="produit.quantite"/>
			<strong>Prix de l'article :</strong> {{produit.prix * produit.quantite}} </br>

			<strong>Couleurs disponibles: </strong>
			<p>Clique sur une couleur pour la commander/ décommander </p>
			
			<ul style="list-style-type:none;" class="row">
                                    <div ng-repeat="color in produit.colorCodes 
                                        track by $index" class="col-xs-2">    
                                        <li 
                                        ng-style=
                                        "{'background-color':produit.colorCodes[$index],
                                        'border-radius':'100%', 'width':'30px', 'height':'30px','position':'inline'}" 
                                         ng-click="chooseColor($parent.$index,$index)">
                                           <h3>
                                                <center style="margin-top:10px;color:black">{{$index + 1}} 
                                                </center>
                                            </h3> 
                                      	

                                            
                                        </li>
                                    </div>
       
            </ul>
            <strong> Couleur(s) choisie(s):</strong> {{produit.colorChoice}}</br> 

			<strong>La livraison est:</strong></br>

					*Gratuite pour : {{produit.livraison.gratuite}}</br>
					*Payante à {{produit.livraison.payantePrix}} pour 
					{{produit.livraison.payanteLieux}}</br>
					*Pour tout autre endroit, la boutique vous contactera</br>
			
			<form>
			<strong>Pour quel type de livraison qualifiez vous?</strong>
			<select class="form-control" ng-model="produit.livraisonType" required> 
				<option>Gratuite</option>
				<option>Payante à {{produit.livraison.payantePrix}}</option>
				<option>La boutique me contactera</option>
			</select>

			<strong ng-hide="true">Total:</strong></br>


			</br></br>
			<button class="btn btn-danger" ng-click="retirerDuPanier($index)">Retirer</button>

		</div>  
	</div>      
	</br>       
	</br>   

	<button type="submit" class="btn btn-danger pinkButton" ng-click="checkout()" ng-disabled> Confirmer la commande </button> 
	</form>
</div>