<div class="container" style="margin:5px">
    <h3> <a ng-href="/{{produit[0].type}}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a></h3>
    
    <div class="row" ng-repeat="produit in produit">
         <a ng-href="boutique/{{produit.boutiqueId}}">
             <button class="btn" ng-click="newVote($index)" > 
                    Voir la boutique: <strong>{{produit.boutique}}</strong>   
            </button> 
        </a> 
        
        <center>

            	<div class="col-lg-12 well">
            		<a ng-href="/produit/{{produit._id}}" style="text-decoration:none;color:black">
                                    
                                <h1>{{produit.nom}}</h1>
                              
                                 

                                 <button class="jaime btn" ng-click="newVote($index)" > 
                                     <span class="glyphicon glyphicon-heart" style="color:#ff1844;30vw"></span>
                                    {{produit.votes.length}}
                                </button>   

                                 <button class="btn btn-md ajouterPanier" ng-click="ajouterAuPanier($index)" >
                                      <span class="glyphicon glyphicon-shopping-cart" style="30vw">
                                     </span>
                                     +
                                 </button>


                                
                                 </br>

                                 <center><img ng-src="{{produit.mainImageUrl}}" alt="Image de l'article en charge. Si ce message persiste, veuillez rafraichir la page ou vérifier que votre connection à internet fonctionne correctement." width="20%" />
                                 </center></br>
                                 </br></br>



                    </a>


                                 
                                  <strong>  Prix: </strong>   {{produit.prix}} FCFA </br>
                                  <strong> Description: </strong> {{produit.details}}</br>

                                    <strong> Quantité Disponible: </strong> 
                                    {{produit.quantiteDisponible}}</br></br></br>

                                    <strong>Teintes/Couleurs disponibles: </strong>
                                    <ul style="list-style-type:none;" class="row">

                                         <div class="col-xs-2" 
                                        ng-repeat="color in produit.colorCodes track by $index">
                                        
                                            <li  
                                            ng-style=
                                            "{'background-color':produit.colorCodes[$index],
                                            'border-radius':'100px', 'width':'30px', 'height':'30px'}" 
                                            ng-click="removeColor($index)">
                                                <h3>
                                                    <center style="margin-top:10px;color:black">{{$index + 1}} 
                                                    </center>
                                                </h3>
                                            </li>
                                        </div>
                                    </ul>

                                  <strong>Livraison:</strong></br>
                                   La livraison est gratuite pour: {{produit.livraison.gratuite}}</br>
                                   La livraison est payante à {{produit.livraison.payantePrix}}F pour :
                                    {{produit.livraison.payanteLieux}}


                                   

                                    

                              

                                 <div class="row"> 
                                 
                                     <div class="col-sm-6"> 
                                           <img ng-src="{{produit.imageUrls[0]}}" width="45%"></br>
                                     </div>
                                     <div class="col-sm-6"> 
                                           <img ng-src="{{produit.imageUrls[1]}}" width="45%"></br>
                                     </div>
                                     <div class="col-sm-6"> 
                                        <img ng-src="{{produit.imageUrls[2]}}" width="45%"></br>
                                     </div>
                                     <div class="col-sm-6"> 
                                        <img ng-src="{{produit.imageUrls[3]}}" width="45%"></br>
                                     </div>
                                     <div class="col-sm-6"> 
                                        <img ng-src="{{produit.imageUrls[4]}}" width="45%"></br>
                                     </div>
                                 </div>
                      
                         

            	</div>

            	
            	</div>
                <div class="col-lg-12">
                    <span ng-show="isAuthen">            
                        <label> Vous avez quelque chose à dire sur cet article? </label> 
                        <textarea class="form-control" ng-model="newComment.body">
                        </textarea> 
                        </br> 

                        <button class="btn pinkButton" ng-click="postComment()"> 
                            Commenter
                        </button> 
                    </span>   </br> </br> 

                    <div ng-repeat="comment in comments track by $index" class="well"> 
                       
                        Date: {{comment.date}}  </br> 
                         <img ng-src='images/{{comment.profilePic}}' width="8%"/> 
                        De: {{comment.auteur}}  </br> 
                        {{comment.body}}        </br> 
                    </div>              
                
                </div>

        </center>
                        
                        
    </div>
</div>