		</br></br>
		

		<div class="container" style="margin:5px">

			<div class="jumbotron" style="margin:5px;background-color:#95A5A6">
				</br>


				<h1 style="text-align:center;color:white">	
					<span class="glyphicon glyphicon-user"></span> Bienvenue {{user.local.username}} 
					{{user.facebook.name}}
		    	</h1>

		    	<img src="images/medalIcon.png" width="0%" style="margin-right:-500px" />
				<img src="images/trophy.png" width="0%" />

			</div>

			
				<div class="" style="margin-top:-px;">

				<div class="col-md-3 roundBlock well" style="background-color:#D2D7D3">
					<div >
					<a href="/myBoutique">
						<center>
							<h3>Ma boutique</h3>
							<img src="images/shop2.png" width="17%" />
						<center>
					</a>
					
					</div>
				</div>

				<div class="col-md-3 roundBlock well" style="background-color:#D2D7D3">
					<a href="/userCommandes">
						<center>
							<h3>Mes achats</h3>
							<img src="images/cart.png" width="17%" />
						<center>
					</a>
				</div>

				<div class="col-md-3 roundBlock well" style="background-color:#D2D7D3">
					<a href="/sellerVentes">
						<center>
							<h3>Mes commandes</h3>
							<img src="images/moneyIcon.png" width="16.5%" />
						<center>
					</a>
				</div>

				<div class="col-md-3 roundBlock well" style="background-color:#D2D7D3">
					<a href="/userInfo">
					<center>
							<h3>Mes infos</h3>
							<img src="images/userIcon.png" width="17%" />
						<center>
					</a>
				</div>

			</div>









		</div>

		


