<div class="container" style="margin:5px">

			<div class="jumbotron row" style="margin:5px;background-color:#ECF0F1">
				</br>


		       <div class="col-md-6">
		       			<center> 
						<a href="/userInfo"> <img ng-src="images/{{user.moreInfo.profilePic}}" alt="imageProfile" class="img-responsive" width="30%" style="margin-top:-14px"></a>
						</center>
						

		       </div>

				<div class="col-md-6">
					<h1 style="text-align:leftr;font-size:30px">	
						Bienvenue 
	 					{{user.local.username}} 
						{{user.facebook.name}}
						{{user.google.name}}
						</br>


			    	</h1>
		       </div> 
		    

			</div>

			
				<div class="" style="margin-top:-px;">

				<div class="col-md-3 col-xs-6 roundBlock well" style="background-color:#ECF0F1" ng-show="user.moreInfo.vendeur">
					<div >
					<a href="/myBoutique">
						<center>
							<h3>Ma boutique</h3>
							<img src="images/shop2.png" width="17%" />
						<center>
					</a>
					
					</div>
				</div>

				<div class="col-md-3 col-xs-6 roundBlock well" style="background-color:#ECF0F1">
					<a href="/userCommandes">
						<center>
							<h3>Mes achats</h3>
							<img src="images/cart.png" width="17%" />
						<center>
					</a>
				</div>

				<div class="col-md-3 col-xs-6 roundBlock well" style="background-color:#ECF0F1">
					<a href="/sellerVentes">
						<center>
							<h3>Mes commandes</h3>
							<img src="images/moneyIcon.png" width="16.5%" />
						<center>
					</a>
				</div>

				<div class="col-md-3 col-xs-6 roundBlock well" style="background-color:#ECF0F1">
					<a href="/userInfo">
					<center>
							<h3>Mes infos</h3>
							<img src="images/userIcon.png" width="17%" />
						<center>
					</a>
				</div>

			</div>









		</div>

		


