<div class="container">
	</br>
	Retour au <a href="/profile">Profile</a> 
	<h1>Mes commandes (Ventes) en cours</h1>

	<div class="row">

		<div class="well col-lg-4" ng-repeat="commande in commandes">
			Numéro de commande: {{commande._id}} </br>
			Date de la commande: {{commande.date}} </br>
			Nom de l'article: {{commande.produitNom}} </br>
			Commandé par: {{commande.acheteur}} </br>
			Contacts de la cliente:
			{{commande.acheteurContacts[0]}},
			{{commande.acheteurContacts[1]}}, 
			{{commande.acheteurContacts[2]}}</br>
			Quantité: {{commande.quantite}} </br>
			Prix: {{commande.prix}} </br>

		</div>
	</div>






</div>