</br></br></br>

<div class="container">
	<a href="/profile">Profile</a> / <a href="/sellerProduits">Mes Produits</a>

	<div class="container" >
		<h1>Mes produits déja en ligne ({{mesProduits.length}})</h1>
		<div class="row">
			<div id="MesProduits" class="well col-sm-3" ng-repeat="produit in mesProduits"
			style="width:">
				<strong>{{produit.nom}}</strong></br>
				Ajouté le: {{produit.date}}</br>
				Type: {{produit.type}}</br>
				Prix: {{produit.prix}}</br>
				Livraison inclus dans ce prix: {{produit.livraison}}
				<button class="btn btn-danger btn-sm" ng-click="effacerProduit($index)">Retirer</button>
			</div>
		</div>
	</div>




	<div class="well" style="width:40vw">
		<h1>Ajouter un nouveau produit</h1>
		<h1>{{message}}</h1>

		<form>
			<label>Nom du produit
				<input type="text" placeholder="Nom" class="form-control" ng-model="nouveauProduit.nom"/>
			</label>
			
			<label>Type
				<select  class="form-control" ng-model="nouveauProduit.type" placeholder='Type'>
				<option>Soins du visage</option>
				<option>Toilette</option>
				</select>
			</label>

			<label>
				<input type="number" class="form-control" placeholder="prix" ng-model="nouveauProduit.prix"/>
			</label>

			<label>Le prix de la livraison inclus dans ce prix?</label>
			<label>
				<input type="radio" name="livraison" value="true" class="form-control" ng-model="nouveauProduit.livraison"/>Oui
			</label>
			<label>
				<input type="radio" name="livraison" value="false" class="form-control"ng-model="nouveauProduit.livraison"/>Non
			</label>
			<textarea type="text" placeholder="Déscription" class="form-control"ng-model="nouveauProduit.details"/>
			</textarea>
			</br>
			<button class="btn btn-info" ng-click="ajouterProduit(nouveauProduit)">Mettre en ligne
			</button> 
			</br>
			</br>
		</form>

{{user.local.email}}
{{nouveauProduit}}
{{mesProduits}}

	</div>

	


</div>