</br></br>
<div class="row container">
	<div class="well col-md-12" >
		<h3> <a href="/authen"><span class="glyphicon glyphicon-arrow-left"></span> Profile</a></h3>	</br>
		<h1 style="text-align:center">S'inscire</h1></br>
		{{message}}
		<label>Nom d'utilisateur
		<input type="text" class="form-control" ng-model="sign.username" name="username"/>
		</label></br>

		
		<label>Mot de passe
			<input type="password" class="form-control" ng-model="sign.password" name="password"/>
		</label></br>


		<button ng-click="signup()" class="btn btn-danger btn-lg btn-block pinkButton"> S'inscrire
		</button>

	</div>
</div>


