</br></br></br>
<div class="container">
	Retour au <a href="/profile">Profile</a> 
	


	<h1> Mes informations </h1>
	<h3> Nom complet: {{user.facebook.name}}</h3>
	
	Numéros de téléphone
	<div ng-repeat="num in user.moreInfo.numerosDeTelephone track by $index">
		<h3>{{num}}</h3>
		<button class="btn btn-danger" ng-click="removeUserTelephone($index)">Retirer</button>
	</div></br>
	
	{{message}}

	<h3>Ajouter un numero de téléphone </br>
		+225 <input type="number" ng-model="moreInfoNew.telephone"  class="form-control">
	</h3>
	<button class="btn btn-default" ng-click="newUserTelephone()">Ajouter</button>








</div>
