<div class="container">

	<h3> <a href="/profile"><span class="glyphicon glyphicon-arrow-left"></span> Profile</a></h3>	
	 <h3> <img src="images/cart.png" width="5%" /> Mes commandes (Achats) en cours</h3></br>
	 	
	<center><h2>{{loadingMessage}}</h2></center>
		
	<div class="row" ng-hide="isLoading">
		<h3>Merci de faire vos achats sur AfriBelle!</h3>
		
			<strong>
		<p> Après chaque commande, la boutique vous contactera pour la livraison et le paiement de vos articles. Montrez votre réçu pour la commande à la livraison.
		Vous pourrez négocier tout retour d'article avec la boutique, à ses propres termes.
		</br> 


		NB:Si vous avez commandé des articles provenant de différentes boutiques, chaque boutique vous contactera individuellement.</br> 

		</p>
			</strong> 
		
	


		<div class="well col-lg-4" ng-repeat="commande in commandes">
			<h3>Reçu</h3></br>


 				<h3 ng-show="commande.deliveryConfirmed"><span class="glyphicon glyphicon-ok" style="color:green"> 
 						Livraison effectué
 				    </span> 
 				</h3></br>
			
			<strong>Numéro de commande: </strong>{{commande._id}} </br>
			<strong>Date de la commande: </strong>{{commande.date}} </br>
			<strong>Nom de l'article: </strong>{{commande.produitNom}} </br>
			<strong>Nom de la boutique : </strong>{{commande.boutique}}</br>
			<strong>Vendu par: </strong>{{commande.vendeur}} </br>
			<strong>Contacts de la vendeuse:</strong>
			{{commande.vendeurContacts[0]}},
			{{commande.vendeurContacts[1]}}, 
			{{commande.vendeurContacts[2]}}</br>
			<strong>Quantité:</strong>{{commande.quantite}} </br>
			<strong>Prix: </strong>{{commande.prix}} </br>
			<strong>Couleur(s) de l'article: </strong> {{commande.colorChoice}} </br>
			
				<strong>Politique de livraison pour cet article: </strong> </br>
			Gratuite ici: {{commande.livraison.gratuite}} </br>
			Payante à {{commande.livraison.payantePrix}} pour 
			{{commande.livraison.payanteLieux}}
			 </br>
			Pour tout autre endroit, la boutique/vendeur(euse) vous contactera </br>

			<strong>Votre livraison:</strong> {{commande.thisLivraison}}</br></br>

			<p style=""> La boutique/le livreur vous contactera. Merci de lui presenter ce reçu à la livraison. Le numéro de commande sur ce reçu et celui que vous presentera le livreur doivent etre identique.</p> 
			
			</br>
		</div>
	</div>






</div>